.msl-flx {
  display: inline-flex;
  align-items: center;
}
.msl-vars {
  --menu-max-height: 400px;
  --font-size: 16px;
  --border-radius: 7px;
  --transition: 200ms;
  --menu-shadow: 1px 1px 5px 0px gray;
  --option-bg-hover: rgb(233, 233, 233);
}

.msl-wrp {
  position: relative;
}
.msl-disabled {
  pointer-events: none !important;
}
.msl-disabled > .msl {
  background-color: rgb(246, 246, 246);
}
.msl {
  overflow: hidden;
  border: 1px solid;
  border-color: rgb(156, 156, 156);
  border-radius: var(--border-radius);
  outline: none;
  cursor: text;
}
.msl:not(.msl-active):hover {
  border-color: rgb(80, 80, 80);
}
.msl-active {
  box-shadow: var(--menu-shadow);
  z-index: 999;
  border-color: transparent;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.msl-active ~ .msl-options {
  z-index: 999;
  box-shadow: var(--menu-shadow);
  clip-path: inset(0px -10px -10px -10px);
  max-height: var(--menu-max-height);
}
.msl-input-wrp {
  display: inline-block;
  vertical-align: top;
}
.msl-input {
  display: inline-block;
  vertical-align: top;
  outline: none;
  margin: 5px;
  line-height: 1;
  padding: 3px;
  font-size: var(--font-size);
}

.msl-input::before {
  line-height: 1;
  color: rgb(146, 146, 146);
}
.msl-input[data-placeholder]:not([data-placeholder=""]):empty::before {
  content: attr(data-placeholder);
}
.msl-chip {
  background: rgb(238, 238, 238);
  border-radius: calc(var(--border-radius) - 3px);
  margin: 5px;
  padding: 3px 3px 3px 6px;
  white-space: nowrap;
  font-size: calc(var(--font-size) - 3px);
  display: inline-flex;
  align-items: center;
  line-break: anywhere;
  white-space: break-spaces;
}
.msl-single-value {
  display: inline-block;
  margin: 5px;
  padding: 3px;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size);
  line-break: strict;
  white-space: nowrap;
}
.msl-options {
  position: absolute;
  width: 100%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  background: white;
  max-height: 0;
  overflow: auto;
  transition: max-height 100ms ease-in;
}
.msl-options::-webkit-scrollbar {
  width: 8px;
}
.msl-options::-webkit-scrollbar-track {
  background: transparent;
}

.msl-options::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0, 0.1);
  border-radius: 20px;
}

.msl-options::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0, 0.2);
}
.msl-options > .msl-option {
  font-size: var(--font-size);
  border-radius: calc(var(--border-radius) - 3px);
  padding: 7px 5px;
  cursor: pointer;
  margin: 4px 6px 4px;
  line-height: 1;
  line-break: anywhere;
  line-height: 1.2;
  white-space: break-spaces;
  transition: background 200ms;
}
.msl-options > .msl-option:last-child {
  margin-bottom: 5px;
}
.msl-options > .msl-option:hover {
  background: var(--option-bg-hover);
}
.msl-option-active {
  background: #e6f4fa;
  color: #0351ff;
}
.msl-option-disable {
  color: hsla(0, 0%, 0%, 0.3);
}

.msl-btn {
  border-radius: 50%;
  border: none;
  outline: none;
  padding: 0;
  justify-content: center;
  cursor: pointer;
  background: transparent;
}
.msl-actions {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translatey(-50%);
}
.msl-arrow-btn,
.msl-clear-btn {
  width: 25px;
  height: 25px;
  transition: transform var(--transition);
}

.msl-clear-btn .msl-close-icn {
  transform: scale(0.8);
}

.msl-clear-btn:hover,
.msl-arrow-btn:hover {
  background: lightgray;
}

.msl-close-icn > line,
.msl-arrow-icn > line {
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke: rgb(75, 75, 75);

}

.msl-arrow-icn {
  height: 20px;
  width: 20px;
  transform: scale(0.8);
}

.msl-chip-delete {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  margin-left: 3px;
  background: rgb(218, 218, 218);
}
.msl-chip-delete:hover {
  background: lightgray;
}

.msl-chip-delete .msl-close-icn {
  transform: scale(0.6);
}
.msl-chip-delete .msl-close-icn >line{
  stroke-width: 1;
}

.msl-close-icn {
  height: 15px;
  width: 15px;
}